<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> MVT | Registro de Familiar</title>
</head>
<body style="background-color:rgb(198, 202, 202);">
    <section>
        <h3 style="color:rgb(0, 63, 145)">{{ family_member.full_name }} nacido el {{ family_member.birthdate }} con email {{ family_member.email }} y teléfono {{ family_member.phone_number }} fue registrado existosamente! </h3>
        <p style="color:rgb(0, 63, 145)">Para ver los familiares registrados hacer click <a href='http://localhost:8000'>aqui</a></p>
    </section>
</body>
</html>